body{
	margin: 0;
	padding: 0;
 background: linear-gradient( 10000deg, #28017E, #C000D6 ) ;
}



.crear{
	text-align: center;
}




.formulario{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 500px;
height: 400px;
border-radius: 12px;
background-color: #3E5E59;

}

form .usuario{
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}


.usuario input{
	width: 70%;
	padding: 0 5px;
	height: 35px;
	font-size: 16 px;
	border:none ;
	background: none;
	outline: none;
}

.usuario label{
position: absolute;
top: 18px;
left: 9px;
color: #adadad;
transform: translateY(-50%);
font-size: 16px;
pointer-events: none;

}

.container{
	border: apx solid black;
	padding: 20px;
}


.usuario input:focus ~ label,
.usuario input:focus ~ label{
	position: absolute;
	top: -5px;
}

.usuario input:focus ~ span:before,
.usuario input:focus ~ span:before{

	width: 100%;
}
































#inicio{
   display:block;
   background-color: black;
   width: 35px;
   border-radius: 10px;
   padding: 15px;
   color: #fff;
   text-decoration: none;

}
#inicio:hover {
background-color:#fff; 
color: black;