bh1{
	color:#000000;
}

img{
	width: 45px;
}

center video {
	aling: center;
}

body{
	background-color: #78909C;
	}

#soporte{
   display:block;
   background-color: black;
   width: 50px;
   border-radius: 10px;
   padding: 15px;
   color: #fff;
   font-family: 'Pangolin', cursive;
   text-decoration: none;

}
#soporte:hover {
background-color:#fff; 
color: black;
font-family: 'Pangolin', cursive;



}

.navegacion{
display:inline;
   background-color: black;
   border-radius: 10px;
   padding: 7px;
   color: #fff;
   font-family: 'Pangolin', cursive;
   text-decoration: none;

}
.navegacion:hover {
background-color:#fff; 
color: black;
font-family: 'Pangolin', cursive;
}

.navegacion2{
display:block;
   background-color: black;
   width: 70px;
   border-radius: 10px;
   padding: 7px;
   color: #fff;
   font-family: 'Pangolin', cursive;
   text-decoration: none;

}
.navegacion2:hover {
background-color:#fff; 
color: black;
font-family: 'Pangolin', cursive;



}






















